.container {
  display: flex !important;
  min-height: 100%;

  & > .stack {
    min-height: 100%;

    & > .heading {
      margin-block: 1.5rem;
    }

    & > .table_container {
      max-height: calc(100dvh - 300px);
    }
  }
}
